<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/nav/Dashboard">Views</a>
      <a mat-list-item routerLink='/nav/Escalate'>Escalations [ {{len}} ]</a>
      <!-- <a mat-list-item>Link 3</a> -->
      <button mat-fab color="warn" style="margin-left: 10px;margin-top: 420px;" (click)="Logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>my-first-app</span>
      <span style="margin-left: auto">
        Login Time: {{LoginTime}}
      </span>

    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
