<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Time Left</th>
      <th>Consult Type</th>
      <th>Consultation DateTime</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of arr">

      <td>{{item.Name}}</td>
      <td>{{item.Country}}</td>
      <td>{{item.Time_Left}}</td>
      <td>{{item.Consult_Type}}</td>
      <td>{{item.Consultation_DateTime}}</td>
      <td><button type="button" class="btn btn-info" (click)="openDialog(item)">
          <span class="material-icons">
            more
          </span>
        </button></td>
    </tr>
  </tbody>

</table> -->

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Joe" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
    </ng-container>


    <ng-container matColumnDef="Country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
      <td mat-cell *matCellDef="let row"> {{row.Country}} </td>
    </ng-container>


    <ng-container matColumnDef="Time_Left">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Left </th>
      <td mat-cell *matCellDef="let row"
        [ngClass]="{'red':row.Time_Left <= '1 hour ago', 'green': row.Time_Left  !='1 hour ago' }"> {{row.Time_Left}}
      </td>
    </ng-container>


    <ng-container matColumnDef="Consultation_DateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Consultation DateTime </th>
      <td mat-cell *matCellDef="let row">
        {{row.Consultation_DateTime}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Open Consultation </th>
      <td><button mat-cell *matCellDef="let row" type="button" class="btn btn-info" (click)="openDialog(row)">
          <span class="material-icons">
            more
          </span>
        </button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[2, 4, 6, 10]"></mat-paginator>
</div>
